<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank Template</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
           <ul>
               <li>
                   <a href="#">CLASSES</a>
               </li>
               <li>
                   <a href="#">HIRE US</a>
               </li>
               <li id="logo">
                   <a href="#">
                       LG
                   </a>
               </li>
               <li class="donate">
                   <a href="#">DONATE</a>
               </li>
           </ul>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h1>
                WHERE GRIT MEETS OPPORTUNITY
            </h1>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid amet cum dicta enim eum excepturi incidunt iste laudantium magnam minima minus, natus quae quo quod ratione sapiente vel voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis dolorum illo impedit labore molestiae mollitia quaerat temporibus veritatis voluptas. Amet consequatur dolor eveniet incidunt, itaque porro ratione similique voluptatem?
            </h3>
            <h3>
                <a href="#">
                    Watch the Video
                </a>
            </h3>
        </section>
        <section class="info">
            <h1>WHY</h1>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur deleniti, distinctio expedita, facere id ipsa laboriosam modi, molestias nesciunt nostrum obcaecati praesentium quibusdam repellat sint soluta suscipit. Aliquid, ipsum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci aliquam atque cupiditate esse exercitationem hic, impedit, incidunt laboriosam necessitatibus, nobis nostrum numquam odio porro quaerat repellat tempora veniam?
            </h3>
        </section>
        <section class="summary">
            <div>
                <p class="box">
                </p>
                VISIT THE GYM
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis culpa enim expedita laborum minima mollitia optio quibusdam ratione vero! Aspernatur at autem quasi sunt temporibus veniam? Amet quasi, vel?
                </p>
            </div>
            <div>
                <p class="box">
                </p>
                HAVE US VISIT YOU
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eligendi itaque iure porro quod rerum sequi vero. Accusamus consequatur exercitationem expedita facilis harum, laboriosam libero possimus, quae similique ullam vitae!
                </p>
            </div>
        </section>
        <section class="info">
            <h1>VOLUNTEER WITH LEVEL GROUND</h1>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur deleniti, distinctio expedita, facere id ipsa laboriosam modi, molestias nesciunt nostrum obcaecati praesentium quibusdam repellat sint soluta suscipit. Aliquid, ipsum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci aliquam atque cupiditate esse exercitationem hic, impedit, incidunt laboriosam necessitatibus, nobis nostrum numquam odio porro quaerat repellat tempora veniam?
            </h3>
        </section>
    </main>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
