body {
    font-family: sans-serif;
}

header {
    background: dimgray;
    height: 70px;
}

ul {
    text-align: center;
    padding: 20px 30px;
}

li {
    display: inline;
    padding: 0 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-size:20px;
    font-weight: bold;
}


li#logo{
    padding: 0 500px 0 400px;
}

.donate a {
    background: white;
    border-radius: 5px;
    color: dimgray;
    padding: 10px;
}

#logo a {
    font-size:30px;
    padding: 0px;
}

main {

}

.intro {
    background: dimgray;
    padding: 50px 200px;
}

.intro h1, .intro h3 {
    font-weight: bold;
    text-align: center;
    color: white;
}

.intro h1 {
    font-size: 3em;
    padding-bottom: 30px;
}

.intro h3 {
    font-size: 1em;
    padding-bottom: 60px;
}

.intro h3 a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: normal;
}

.info {
    text-align: center;
    padding: 50px 400px;
}

.info h1, .info h3 {
    color: black;
}

.info h1 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 20px;
}

.summary {
    background: lightgray;
    display: flex;
    padding: 50px 200px;
    align-items: center;
    justify-content: space-around;
    /*flex-direction: column;*/
}

.summary div {
    max-width: 40%;
    /*border: 2px solid black;*/
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.summary div p {
    font-weight: normal;
    font-size: 0.6em;
    padding: 30px 0;
}


.box {
    width: 300px;
    height:100px;
    background: dimgray;
    /*text-align: center;*/
    margin: 30px 80px;
}
