<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank Template</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Order Now</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Location</a></li>
            </ul>
        </nav>
    </header>
    <section class="welcome">
        <div>
            <h1>
                Welcome
                <br>To Our Cuisine <br>Restaurant
            </h1>
            <form action="">
                <input type="text" placeholder="Search Here">
            </form>
        </div>
        <div>
            <img src="food.JPG" alt="food">
        </div>
    </section>
    <section class="about-us">
        <div>
            <img src="food1.JPG" alt="food1">
        </div>
        <div class="story">
            <h1>
                Discover Our
                <br>Restaurant Story
            </h1>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur distinctio ex, explicabo hic impedit ipsa natus neque nesciunt nobis nulla optio perferendis saepe, sed. Amet inventore molestiae molestias natus non.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi doloribus fuga iusto libero, magnam modi molestiae nam natus, possimus quaerat quibusdam quis ratione tempore veniam! Corporis delectus illum quia!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est expedita magnam modi nam optio, perspiciatis provident quisquam sapiente sit, soluta sunt temporibus. Aperiam beatae ea libero quasi rem sunt!
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem facere harum iusto reiciendis sit! Ab architecto beatae delectus ducimus error illum, laborum, numquam pariatur possimus quos repudiandae sit unde. Beatae?
            </h3>
        </div>
    </section>
    <section class="specialty">
        <h1>
            Our Speciality Cuisine
        </h1>
        <section class="menu">
            <div>
                <img src="menu1.jpg" alt="menu">
            </div>
            <div>
                <img src="menu1.jpg" alt="menu">
            </div>
            <div>
                <img src="menu1.jpg" alt="menu">
            </div>
            <div>
                <img src="menu1.jpg" alt="menu">
            </div>
        </section>
    </section>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
