<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank Template</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="logo">
                    <a href="#">Source</a>
                </li>
                <li>
                    <a href="#">First link</a>
                </li>
                <li>
                    <a href="#">Second link</a>
                </li>
                <li>
                    <a href="#">Third link</a>
                </li>
                <li>
                    <a href="#">Fourth link</a>
                </li>
                <li class="btn">
                    <a href="#">Button</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="intro">
        <div class="summary">
            <h1>
                Source helps creators do more of what they love
            </h1>
            <form action="">
                <input type="text" placeholder="Search">
            </form>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque commodi cumque eos est et eum id illum, ipsa iste possimus provident quam quidem, sint tenetur totam vel! Earum, voluptate?
            </h3>
        </div>
        <div class="image">
            <img src="icon.JPG"
                 alt="icon">
        </div>
    </section>
    <section class="feature">
        <div>
            <h1>
                Feature One
            </h1>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab aperiam assumenda beatae commodi culpa delectus est facilis fugiat itaque maxime nisi non odio perferendis perspiciatis placeat soluta veritatis vero.
            </h3>
        </div>
        <div>
            <h1>
                Feature Two
            </h1>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dignissimos dolor ducimus, ea earum eligendi enim inventore magnam molestiae omnis possimus praesentium ratione rerum sunt tenetur veniam voluptate? Eligendi.
            </h3>
        </div>
        <div>
            <h1>
                Feature Three
            </h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci atque laudantium mollitia necessitatibus nihil nostrum obcaecati odit, officia, omnis quis rerum, sunt tempora? Assumenda corporis debitis dolorem eligendi minus!</h3>
        </div>
        <div>
            <h1>
                Feature Four
            </h1>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid aspernatur doloribus ea eligendi esse et excepturi impedit nam, necessitatibus nobis non nostrum odit omnis quod reiciendis tempora, temporibus vel.
            </h3>
        </div>
    </section>
    <section class="info">
        <h1>
            Collecting information
            <br>
            about the problem
        </h1>
        <h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolore harum illum maxime minima, ratione tempora ullam voluptates. Culpa incidunt labore nam nihil nobis, pariatur sequi soluta velit vitae voluptates.
        </h3>
    </section>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
