<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank Template</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">LOOKBOOK</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">BOOK ONLINE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="intro">
            <div class="container">
                <h1>BLONDE <br> & HIGHLIGHT</h1>
                <h3>
                    DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN TYLE
                </h3>
                <div class="btn">OUR SERVICES</div>
                <div class="book">
                    YOUR FIRST VISIT?
                    <br>
                    <br>
                    20% OFF FOR THE FIRST
                    <br><br>
                    CLASSIC HAIR COLORING
                </div>
            </div>
        </section>
        <section class="info">
            <div>
                <h1>EXPERT BEAUTICIANS</h1>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda autem beatae consequatur distinctio dolorem doloremque eligendi enim exercitationem facere harum hic iure modi natus obcaecati praesentium, quidem ullam, unde?
                </h3>
            </div>
            <div>
                <h1>QUALITY SERVICES</h1>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eius iste laboriosam natus nihil perspiciatis, velit? Adipisci aliquam aut dicta facere incidunt iste laudantium libero maiores recusandae, sed, vitae voluptas!
                </h3>
            </div>
            <div>
                <h1>
                    BEAUTY PRODUCTS
                </h1>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci eaque facilis labore magni necessitatibus neque pariatur quod, sed voluptates? Adipisci enim inventore ipsum nihil numquam perferendis quae velit veritatis.
                </h3>
            </div>
        </section>
        <section class="summary">
            <div>
                <h1>
                    MAKE YOUR OWN MOMENTUM
                </h1>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque distinctio dolorum fugiat inventore ipsa, iste perspiciatis quae quaerat. A accusamus alias doloribus nemo nihil quaerat quidem sit voluptatibus! Facilis, tempore.
                </h3>
                <div class="btn">
                    READ MORE
                </div>
            </div>
            <div>
                <img src="makeup.jpg" alt="makeup">
            </div>
        </section>
    </main>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
